/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

/* Estilos del header */
header {
  background-color: #233142;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  height: 120px;
}

h1 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

/* Estilos del formulario de login */
.login-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 400px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  width: 100%;
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
}

body {
  background-color: #f8f9fa;
}

.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 20px; /* Cambiado a 20px */
}

.header-image {
  text-align: center;
}

.sosial-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.sosial-login img {
  max-width: 40px;
}
/*FIN ESTILOS CARDS DE NOTICIAS*/

a {
  text-decoration: border 10px solid red;
  background-color: transparent;
}


/****INICIO FOOTER****/


.footer {
  background-color: #343a40;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  }
      
  .footer-top {
  padding-bottom: 30px;
  }
      
  .footer-title-01 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  }
      
  .footer-link-01 li {
  margin-bottom: 10px;
  }
      
  .social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 15px;
  }
      
  .footer-bottom {
  background-color: #262b30;
  padding-top: 10px;
  padding-bottom: 10px;
  }
      
  .footer-bottom p {
  margin-bottom: 0;
  }
      
  .footer-bottom a {
  color: #6c757d;
  margin-left: 5px;
  margin-right: 5px;
  }
      
  .footer-bottom a:hover {
  color: #ffffff;
  }
      
  .container {
  margin-bottom: 15px;
  }
  .header-image {
      text-align: center;
    }