header {
    background-color: #233142;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header img {
    height: 120px;
  }
  
  
   .header-image {
      text-align: center;
    }



















    body{margin-top:20px;}
    .single-pricing{
    background:#fff;
    padding:40px 20px;
    border-radius:5px;
    position:relative;
    z-index:2;
    border:1px solid #eee;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.09);
    transition:0.3s;
    }
    @media only screen and (max-width:480px) { 
    .single-pricing {margin-bottom:30px;}
    }
    .single-pricing:hover{
    box-shadow:0px 60px 60px rgba(0,0,0,0.1);
    z-index:100;
    transform: translate(0, -10px);
    }
    .price-label {
        color: #fff;
        background: #ffaa17;
        font-size: 16px;
        width: 100px;
        margin-bottom: 15px;
        display: block;
        -webkit-clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
        clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
        margin-left: -20px;
        position: absolute;
    }
    .price-head h2 {
        font-weight: 600;
        margin-bottom: 0px;
        text-transform: capitalize;
        font-size: 26px;
    }
    .price-head span {
        display: inline-block;
        background:#ffaa17;
        width: 6px;
        height: 6px;
        border-radius: 30px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .price {
        font-weight: 500;
        font-size: 50px;
        margin-bottom: 0px;
        text-align: center;
    }
    .single-pricing h5 {
        font-size: 14px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    .single-pricing ul{
    list-style: none;
    margin-bottom: 20px;
    margin-top: 30px;
    }

    .single-pricing ul li{line-height: 35px;}
    .single-pricing a {
    background:none;
    border: 2px solid #ffaa17;
    border-radius: 5000px;
    color: #ffaa17;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    padding:10px 45px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    }
    .single-pricing a:hover, .single-pricing a:focus{
    background:#ffaa17;
    color:#fff;
    border: 2px solid #ffaa17;
    }
    .single-pricing-white{background: #232434}
    .single-pricing-white ul li{color:#fff;}
    .single-pricing-white h2{color:#fff;}
    .single-pricing-white h1{color:#fff;}
    .single-pricing-white h5{color:#fff;}
    .wrapper>* {
        flex: 0 0 auto;
    }































    .wrapper>* {
      flex: 0 0 auto;
  }
  

  a {
      text-decoration: none;
      background-color: transparent;
  }
  
  .py-8 {
      padding-top: 3.5rem !important;
      padding-bottom: 3.5rem !important;
  }
  
  .footer-link-01 li+li {
      padding-top: 0.8rem;
  }
  
  .footer-title-01 {
      font-size: 16px;
      margin: 0 0 20px;
      font-weight: 600;
  }
  
  .footer-title-01 {
      font-size: 16px;
      margin: 0 0 20px;
      font-weight: 600
  }
  
  .footer-link-01 li+li {
      padding-top: .8rem
  }
  
  @media (max-width: 991.98px) {
      .footer-link-01 li+li {
          padding-top: .6rem
      }
  }
  
  .footer-link-01 a {
      position: relative;
      display: inline-block;
      vertical-align: top
  }
  
  .footer-link-01 a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: auto;
      right: 0;
      width: 0;
      height: 1px;
      transition: ease all .35s;
      background: currentColor
  }
  
  .footer-link-01 a:hover:after {
      left: 0;
      right: auto;
      width: 100%
  }
  

  body {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 100%;
    width: 100%; 
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
   
  .wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  }